.circle-bar{
  stroke-width: 20;
  fill:none;
}
.score-progress{
  transition: stroke-dashoffset 0.5s ease
}
.score-base{
  opacity:20%;
}
.nested-progress-bar{
  overflow: visible;
  position: relative
}

.red-score-progress{
  stroke: #B11225;
}

.purple-score-progress{
  stroke: #5C3194;
}

.blue-score-progress{
  stroke: #062A77;
}

.profile-image{
  /* width:50%; */
  opacity: 54%;
  border-radius: 50%;
  margin: auto;
  display:block
}
.score-number{
  font-size: 64px;
  font-weight: 700;
}

.scoreModal{
  position: 'absolute';
  top: '50%';
  left: '50%';
  transform: 'translate(-50%, -50%)';
  width: 400;
  border: '2px solid #000';
  box-shadow: 24;
  padding: 4;
  background-color: white;
}

