.jWJsas > ul > li{
  background-color: #131313 !important
}

.search-input{
  background-color: transparent;
  border-color: #fad974;
  border-radius: 25px;
  color:white;
  width:100%;
  padding:10px;
}

.filter{
  width:100%;
}

.filter-option{
margin: 1rem !important;
color:white;
border-color:#fad974;
}

.selected-option{
  background-color: #fad974;
  color:black;
}
